html {
  scroll-behavior: smooth; /* Agrega un desplazamiento suave a todas las transiciones de desplazamiento */
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: #333;
  transition: background-color 0.5s ease;
}
.footer-visible {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro */
}
.title-image img{
  border-radius: 50%;
}
.hamburguesa {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.linea .blanca{
  color: white;
}
.hamburguesa {
  display: none;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 4px;
}
.linea {
  width: 100%;
  height: 2px;
  background-color: black;
}
nav ul {
  display: none;
}
nav ul.menu-activo {
  display: flex;
  flex-direction: column;
}
.hamburguesa.active .linea:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburguesa.active .linea:nth-child(2) {
  opacity: 0;
}

.hamburguesa.active .linea:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#portada img{
  width: 100%;
  height: 100%;
  
}
#portada{
  margin-top: 0px;
}

#cabecera{

    /*filter: grayscale(100%);*/
    /*margin-top: 300px;*/
    display: flex;
    /*width: 600px;*/
    height: 430px; 
}
#cabecera img{
    filter: grayscale(100%);
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    height: 600px;
}
#cabecera :hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}


header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(7 6 6 / 20%);
    color: #fff;
    padding: 10px;
    z-index: 1;
  }
  section {
    margin-top: 150px; /* Ajusta el margen superior para evitar que el contenido se superponga con el header */
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: chocolate;
    border-radius: 5px;
  }
  li img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  h1{
    color: chocolate;
  }
  .sub-title {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: chocolate;
    
  }
  #acerca{ 
    
    display: flex;
    border: solid chocolate;
    flex-wrap: wrap;
    margin-top: 300px;
    margin-bottom: 169px;
    background-color: black;
    overflow: hidden;
  }
  .camino{
    color: #fff;
  }


/* .container {
  display: flex;
  align-items: center;
  border: solid chocolate;
  flex-wrap: wrap;
} */

.image-container {

  text-align: right;
  /* padding-right: 20px; */
}



.image-container img {
  max-width: 100%;
  height: 100%;
}

.acerca-text {
  font-weight: bold;
  font-size: 24px;
  color: chocolate;
}
.text-container {
  display: flex;
  color: white;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}



footer {
  width: 100%;
  background-color: black;
  padding: 4px;
  text-align: center;
  color: #888;
  font-size: 14px;
  margin-top: 10px;
  display: flex; 
  /* justify-content: space-between; */
  
}

.footer-container {
  /* max-width: 600px;
  margin: 0 auto; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  height: 408px;
  width: 100%;
  border: solid chocolate; 
  margin: 84px 0px 0px;
}

.footer-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: chocolate;
}

.form-group {
  margin-bottom: 15px;
  flex: 1 0 50%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.mapouter{
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 407px;
  width: 100%;
  margin-top: 85px;
  border: solid chocolate;
}
.gmap_canvas{
  position: relative;
  z-index: 0;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

iframe{
  height: 100%;
  width: 100%;
}
.redes-sociales{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 64px;
  height: 408px;
  width: 100%;
  border: solid chocolate;
  margin: 84px 0px 0px;
  font-size: 16px;
  
}
.redes-sociales a {
  color: white;
  margin: 10px;
  text-decoration: none;
}


.tarjeta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* padding: 10px; */
  margin-top:300px;
  box-shadow: 5px 5px 10px gray;
  overflow: hidden;
}

.imagen-tarjeta {
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.imagen-tarjeta img{
  width: 100%;
  height: 100%;
}
.contenido-tarjeta {
  display: flex;
  color: white;
  flex-grow: 1;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq5On6kIe-cDljgrhqyFp91wvoqvc5JuMOJQ&s);
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.lista-servicios {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.lista-servicios li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icono-servicio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: solid chocolate;
}

.servicio-texto {
  font-size: 16px;
}

.btn-pedir-turno {
 position: relative;
  background-color: chocolate;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -4px;
  overflow: hidden;

}
.btn-pedir-turno::after {
  content: '';
  height: 100px;
  width: 20px;
  position: absolute;
  background-color: rgba(230, 216, 216, 0.753);
  filter: blur(5px);
  transform: rotate(14deg) skewY(14deg);
  top: -10px;
  right: -50px;
  transition: transform 0.3s ease-in-out; /* Animación suave */
}

.btn-pedir-turno::before {
  content: '';
  height: 100px;
  width: 20px;
  position: absolute;
  background-color: rgba(245, 240, 240, 0.877);
  filter: blur(5px);
  transform: rotate(14deg) skewY(14deg);
  top: -10px;
  right: -100px;
  transition: transform 0.3s ease-in-out;
}


.btn-pedir-turno:hover::after,
.btn-pedir-turno:hover::before{
  
  animation: barra 1.5s linear infinite;
}
 .btn-pedir-turno:hover{
  background: linear-gradient(45deg, #FF5722, #F44336, #FF9800, #FF5722, #e1306c, #fd1d1d);
  /* background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);  */
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  /* background: radial-gradient(#795548, #795548); */
  /* background: radial-gradient(rgba(112, 51, 8, 0.726), rgba(0, 0, 0, 0)); */
  /* background-color: rgba(112, 51, 8, 0.726); */
} 
@keyframes barra {
  0%{
    transform: translateX(-350px);
  }
}
#redes{
  padding: 4px;
  text-align: center;
  color: #888;
  font-size: 14px;
  margin-top: 150px;
  display: flex; 
  background: linear-gradient(45deg, #0e58eb #5851db, #833ab4, #c13584, #0de92b, #1dd730);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
}
.tarjeta-ig {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  transition: all 0.3s ease;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  /* margin-left: 75%; */
}
.tarjeta-what {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(45deg, #47c756, #0de92b, #1dd730, #05480d, #09bb1b, #0fe724);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  transition: all 0.3s ease;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  /* margin-left: 75%; */
}
.tarjeta-face {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(45deg, #0e58eb, #5851db, #0e58eb, #0e58eb, #acbfe5, #284e99);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease infinite;
  transition: all 0.3s ease;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  /* margin-left: 75%; */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.tarjeta-ig img, .tarjeta-what img, .tarjeta-face img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  perspective: 1000;
  transform-style: preserve-3d;
}
.instagram-text, .whatsapp-text, .facebook-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 24px;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  
}
.tarjeta-ig:hover .instagram-text,
.tarjeta-face:hover .facebook-text,
.tarjeta-what:hover .whatsapp-text {
  opacity: 1;
}
#el-barbero {
  display: flex;
  justify-content: center;
  align-items: center;
}

#el-barbero .content {
  text-align: center;
}

#el-barbero .title {
  position: absolute;
  margin-top: -1%;
  margin-left: -40%;
  transform: translate(-55%, -67%);
  z-index: 1;
  padding: 10px;
}

#el-barbero .image-and-paragraph {
  display: flex;
  align-items: center;
  margin-left: -600px
}

#el-barbero img {
  width: 100%;
  margin-left: 0;
}

#el-barbero p {
 
  font-size: 26px;
  color: white;
  margin-left: 93px;
}


@keyframes brillo{
  0%{transform: skewX(45deg) translateX(351px);}
  100%{transform: skewX(45deg) translateX(-150px);}
}


@media (max-width: 1120px) {
  #el-barbero .image-and-paragraph {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  #el-barbero p {
    margin-left: 11px;
}
}
@media (max-width: 1115px) {
  footer{
    display: grid;
  }
  .footer-container{
    margin-top: 0;
  }
  .redes-sociales{
    margin-top: 0;
  }
}
@media (max-width: 850px) {
  .tarjeta{
    flex-direction: column;
    align-items: flex-start;
  }

  .imagen-tarjeta {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hamburguesa {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav ul.menu-activo {
    display: block;
  }
}
@media (max-width: 768px) {
  header .hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
  }
  header .linea {
    width: 100%;
    height: 2px;
    background-color: black;
  }

  header nav ul {
    display: none;
  }

  header nav ul.menu-activo {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    justify-content: flex-start;

}

}
@media (max-width: 768px){
.tarjeta-ig , .tarjeta-what, .tarjeta-face {
   display: flex;
  justify-content: center;
  margin: 0 0 0  -2rem;
  box-shadow: 5px 5px 10px gray;
  
}

#cabecera{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
#cabecera img{
 
 height: 300px;
 width: 200px;
 
}
#cabecera img:hover{
  transform: scale(1.1);
  cursor: crosshair;
  width: auto;
}
}
